/* Hier passen we de stijl, grootte en positie van alle onderdelen van het spel zelf aan.*/

/*Algemeen*/


html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: black;
  overflow: hidden;
  
}

body {
  max-width: 177.778vh;
  min-width: 500px;
  width: 100%;
  margin: 0;
}

div.relative_div {
  width: 100%;
  padding-bottom: 56.25%; 
  position: relative;
  background: url("../game-art/world-one.jpg");
  background-size: contain;
}

div.relative_div > div.holder {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.holder {
  visibility: hidden;   
}

.holder>* {
  position: absolute;
}

#popup-container {
  visibility: visible !important;
  position: absolute;
  z-index: 99;
  background-color: rgb(22, 63, 19);
  margin-top: 8.43%;
  height: 70%;
  width: 60%;
  margin-left: 20%;
  color: white;
  display: flex;
  border-radius: 5vw;
}

#uitleg {
  position: absolute;
  width: 88%;
  height: 65%;
  padding: 6%;
  padding-bottom: 29%;
  font-size: 1.1vw;
  font-family: 'Nunito', sans-serif;
}

#okay-button {
  position: absolute;
  color: white;
  background-color: rgb(27, 78, 24);
  border: 3px black solid;
  border-radius: 25%;
  height: 15%;
  width: 20%;
  margin-left: 75%;
  margin-top: 52%;
  cursor: pointer; 
  font-family: 'Nunito', sans-serif;
  font-size: 1.3vw
}

#okay-button:hover {
  color: rgb(92, 255, 47);
}

.character {
  width: 15%;
  margin-top: 28%;
  margin-left: 10%;
}

.vraag-cloud {
  margin-top: 2.5%;
  width: 35%;
  height: 28%;
  margin-left: 15%;
}

.vraag-cloud-bottom{ 
  position: absolute;
  margin-top: 18%;
  width: 100%;
  height: 66%;
  background-color:#ECEFF1;
  border-radius:100px;
  display: flex;
  align-items: center;
}

.vraag-cloud-top {
  position: absolute;
  height: 100%;
  margin-left: 30%;
  width: 60%;
  border-radius: 100%;
  background-color: #ECEFF1;
  margin-top: 3%;
 
}

.image-cloud {
  height: 30%;
  width: 20%;
  margin-left: 60%;
  margin-top: 2%;
}

.image-cloud-bottom {
  position: absolute;
  background-color: #ECEFF1;
  height: 65%;
  width: 100%;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 19%;
}

.image-cloud-top {
  position: absolute;
  height:50%;
  background-color: #ECEFF1;
  width: 60%;
  border-radius: 100%;
  margin-left: 10%;
}

#question {
  position: absolute;
  margin: 0% 8%;
  font-size: 1vw;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  z-index: 9;
}

#image-holder {
  height: 90%;
  width: 50.1%;
  z-index: 9;
}

#image-holder:hover {
  transform: scale(2);
}

#guess-cont {
  margin-top: 50%;
  width: 40%;
  height: 8%;
  display: flex;
  margin-left: 30%;
}

#answer {
  width: 80%;
  height: 100%;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 2.5vw;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  
}

#check {
  height: 100%;
  margin-left: 5%;
  cursor: pointer;
}

#levenscontainer {
  width: 10%;
  height: 40%;
  display: flex;
  flex-direction: column;
}

.leven {
  height: 20%;
  width: 10vh;
  margin-left: 3%;
  margin-top: 2%;
}

.enemy-container {
  height: 50%;
  margin-top: 25%;
  margin-left: 70%;
  width: 25%;
}

.enemy {
  position: absolute;
  width: 60%;
}

.enemy3 {
  margin-left: 50%;  
  margin-top: 25%;
}

.enemy2 {
  margin-left: 15%;  
  margin-top: 60%;
}

#score-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  height: 20%;
  margin-top: 45%;
  border-top: 5px solid black;
  border-right: 5px solid black;
  border-radius: 5%;
  background-color: rgb(19, 168, 19);
}

#timer {
  font-family: 'Nunito', sans-serif;
  font-size: 3vw;
  text-align: center;
  height: 50%;
}
#score {
  height: 50%;
  text-align: center;
  font-size: 2.5vw;
  font-family: 'Nunito', sans-serif;
}









